{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=
   , initial-scale=1.0">
   <title>Profile</title>
</head>
<body>
   {% for data in userData %}
      {% if data %}
         <p><b>Welcome to profile, {{ data[0] }}</b></p>
         <p>Email: {{ data[1] }}</p>
         {% if not data[2] %}
         <!-- <form action="{{ url_for('auths_bp.complete_profile') }}",methods='GET'>
            <button type="reset">Add Address</button>
         </form> -->
         <a href="{{ url_for('auths_bp.complete_profile')}}">Add Address</a>
         {% else %}
         <p>Address: {{ data[2] }}</p>
         {% endif %}
      <p><Address> {{ data[3] }}</Address></p>  
      <p>No data available yet! Login! here: </p>
      <a href="{{ url_for('auths_bp.user_login')}}">click</a>
      {% endif %}
   {% endfor %} 
   
</body>
</html>
{% endblock %}