<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='flashstyle.css') }}">
</head>
<body>
   <center>
      <h2>Welcome, {{ username }}!</h2>
      <p>Find trusted professionals for your home and daily needs below.</p>
      <h1>Top Rated Service Provider</h1>
      {% if service_providers_data %}
         {% set top_provider = service_providers_data[0] %}  <!-- First element -->
         <h2>{{ top_provider[1] }}</h2>  <!-- Name -->
         <p>Profession: {{ top_provider[2] }}</p>
         <p>Rating: {{ "%.if"|format(top_provider[2]) }}</p>
      {% else %}
         <p>No rated providers yet</p>
      {% endif %}


      <form action="{{ url_for('dashboards_bp.user_dashboard') }}">
            <table>
               <tr>
                  <th>ID</th>
                  <th>NAME</th>
                  <th>SERVICES</th>
                  <th>EXPERTIESE</th>
                  <th>Rating</th>
                  <th>Options</th>
               </tr>
               <tr>
            {% for data in service_providers_data %}
                  <td>{{ data[0] }}</td>
                  <td>{{ data[1] }}</td>
                  <td>{{ data[2] }}</td>
                  <td>{{ data[3]}}</td>
                  <td>
                     {% if data[4] %}
                     Rating: {{ data[4] }}
                      {% else %}
                        No Rating
                     {% endif %}
                  </td>

               </tr> 
            {% endfor %}
            </table>
      </form>


   </center>
</body>
</html>