{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=
   , initial-scale=1.0">
   <title>Profile</title>
</head>
<body>
   <!-- Edit your profile -->
   <!-- <a href="{{ url_for('dashboards_bp.editUserProfile') }}">Edit Profile</a> -->
   <form action="{{ url_for('dashboards_bp.editUserProfile') }}" method="GET">
      <!-- including csrf token , coz of using flask-wtf -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display:inline;">
      <button type="submit" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;padding:0;font:inherit;">Edit Profile</button>
   </form>

   <!-- Personal info -->
   <h5>Personal Information</h5>
   {% for data in userData %}
   <p>Name: {{ data[0] }}</p>
   <p>📧 Email: {{ data[1] }}</p>
   <p>📞 Phone: {{ data[2]}}</p>
   <p>📍 Address: {{ data[3] }}</p>
   {% endfor %}
   <!-- Activities -->
   <h5>Activities</h5>
   <p>Services Requested: {{ servicesRequested }}</p>
   <p>Services Accepted: {{ servicesAccepted }}</p>
   <p>Most Booked Service: {{ mostBooked }}</p>
   <p>Most Recent Booking: {{ recentBooking }}</p>


</body>
</html>
{% endblock %}