<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='flashstyle.css') }}">
</head>
<body>
   <center>
      <p>SERVICES WE HAVE</p>
      <form action="{{ url_for('dashboards_bp.user_dashboard') }}">
            <table>
               <tr>
                  <th>NAME</th>
                  <th>SERVICES</th>
                  <th>EXPERTIESE</th>
               </tr>
               <tr>
            {% for data in service_providers_data %}
                  <td>{{data[0] }}</td>
                  <td>{{ data[1] }}</td>
                  <td>{{ data[2] }}</td>
               </tr>
               {% endfor %}
            </table>
      </form>


   </center>
</body>
</html>