<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static',filename='flashstyle.css')}}">  
</head>
<body>
   <center>
      <!-- flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            <div class="flash-container">
         {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
         {% endfor %}
            </div>
         {% endif %}
      {% endwith %}

      <form action="{{ url_for('admins_bp.admin_login') }}" method="POST">
         {{ admin_form.hidden_tag() }}
         {{ admin_form.username.label() }} <br> {{ admin_form.username() }} <br>
         {{ admin_form.email.label() }} <br> {{ admin_form.email() }} <br>
         {{ admin_form.password.label() }} <br> {{ admin_form.password() }} <br>
         {{ admin_form.secret_key.label() }} <br> {{ admin_form.secret_key() }} <br>
         {{ admin_form.submit() }}
      </form>
   </center>
   
</body>
</html>